HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
resources/static/
resources/templates/
src/test/
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### MAC ###
.DS_Store
.AppleDouble
.LSOverride

### compiled classes and logs ###
*.class
*.log
*.jar
*.war
*.ear
*.nar

### secrets ###
.env
.env.*